<!DOCTYPE html>
<html>
    <head>
        <title>Greg's Blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Greg's Blog</a></h1>
        </header>

        <article>
            <time>published: 12.03.2023, 12:14</time>
            <h2><a href="">My first post</a></h2>
            <p>
                This is my first post for the blog.
            </p>
        </article>

        <article>
            <time>published: 12.03.2023, 12:14</time>
            <h2><a href="">My second post</a></h2>
            <p>
                This is a second post for the blog.
            </p>
        </article>
    </body>
</html>